@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bkg: #d9d9d9;
    --main: #000;
    --highlight: #4A8FE7;
}

.fullpage-div {
    width: 100vw;
    height: 100vh;
}

.explore-bg-img {
    position: fixed;
    inset: 0;
    background-image: url('../assets/images/gym2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: -2;
}

.explore-title-div {
    height: 15%;
    background-color: var(--bkg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--orange);
}

.title {
    font-family: 'Contrail One', sans-serif;
    font-size: 2.5rem;
    color: var(--main);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}



